.root {
  width: 100%;

  .head {
    font-weight: 400;
    color: #ffffff;
  }

  .gentest {
    position: relative;
    width: 100%;
    max-width: 894px;
    height: auto;
    margin: 0 auto;
  }
}
